extends layout

block bicycle
 
    .container 
      .ground
      .front-wheel
        .cut
      .back-wheel
        .inner-back
          .semi-inner
      .base-line
      .center-circle
      .triangle-blackwheel
      .right-bg
      .right-bg-two
      .triangle-frontwheel
      .handle
      .bg-middle
      .bg-left
      .handle-bar
      .handle-base