doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 效果展示
    link(rel='stylesheet', href='./../styles/code.css')
  body
    #code
      .view
        .hd 效果
        .bd 我是效果
      .view
        .hd 代码
        .bd
          pre
