doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/css.css')
    // link(rel='stylesheet', href='/stylesheets/wave.scss')
    link(rel='stylesheet', href='/stylesheets/bicycle.scss')
    link(rel='stylesheet', href='https://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css')
    // script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type='text/javascript' src='/javascripts/js.js')
    // script(type='text/javascript' src='/javascripts/wave.js')
    script(type='text/javascript').
       FeiChao.Organ()

  body
    block content
    // block bicycle
  // div(class="g-container")
    
    
