doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/css.css')
    link(rel='stylesheet', href='http://www.jq22.com/jquery/font-awesome.4.6.0.css')
    script(type='text/javascript' src='/javascripts/js.js')
    script(type='text/javascript').
       FeiChao.Organ()

  body
    block content
