<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CSS 学习</title>
  <link rel="stylesheet" href="../../public/styles/index.css">
</head>
<body>
<div id="list">
  <header>
    <h1>我是主标题</h1>
  </header>
  <main>
    <section>
      <h2>我是标题</h2>
      <ul>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
      </ul>
    </section>
    <section class="">
      <h2>我是标题</h2>
      <ul>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
      </ul>
    </section>
    <section class="">
      <h2>我是标题</h2>
      <ul>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
      </ul>
    </section>
    <section class="">
      <h2>我是标题</h2>
      <ul>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
        <li><a href="#">我是链接</a></li>
      </ul>
    </section>
  </main>
</div>
</body>
</html>
